/* css reset */
* { 
	margin: 0; 
	padding: 0; 
	outline: 0; 
}



/* common styles */
.main_container {
		margin: 0 auto;  
		width: 970px;
		border: 1px solid magenta;

}   	




/************************ auth ******************************/
.auth_area {
	background: rgb(200, 200, 200);
}

.auth {
	height: 30px;
	border: 1px dotted red;
}

.auth_block {
	width: 300px;
	float: right;
	border: 1px dotted red;
}

.auth_menu {
	float:left;
	border: 1px dotted red;
}

.lang_menu {
	float:right;
	border: 1px dotted red;
}

.auth:after {
	content: "";
	display: block;
	clear: both;
}


/************************ header ******************************/
.header_area {
	background: rgb(240, 240, 240);
}

.header {
	height: 130px;
	border: 1px dotted red;
}

.header_logo_block {    
	float: left;
	border: 1px dotted red;
}

.header_service_block { 
	float: right;
	border: 1px dotted red;
}

.header_contact_block {
	border: 1px dotted red;
}

.header_phone {
	float: right;
	border: 1px dotted red;
}

.header_contact_block:after {
	content: "";
	display: block;
	clear: both;
}
.header_menu {
	border: 1px dotted red;
}

.header:after {
	content: "";
	display: block;
	clear: both;
}

/************************ jumbo ******************************/
.jumbo_area {
	background: rgb(155, 167, 17);
}

.jumbo {
	height: 400px;
	border: 1px dotted red;
}

/*************************** main content ***************************/
.main_area {
	background: rgb(240, 240, 240);
}

.main_content {
	border: 1px dotted red;
}

.left_column {
	float: left;
	width: 630px;
	border: 1px dotted red;

}
	
.right_column {
	float: right;
	width: 300px;
	border: 1px dotted red;
}

.main_content:after {
	content: "";
	display: block;
	clear: both;
}

/************************ partners ******************************/
.partners_area {
	background: rgb(85, 85, 85);
}

.partners  {
	border: 1px dotted red;
}

.partner_block {
	display: inline-block;
	vertical-align: top;
	width: 16.4%;
	height: 80px;
	border: 1px solid green;
	float: left;
}

.partner_logo  a{
	text-align: center;
	border: 1px dotted red;
}
.partner_caption {
	text-align: center;
	border: 1px dotted red;
}

.partners:after {
	content: "";
	display: block;
	clear: both;
}
/************************ footer ******************************/
.footer_area {
	background: rgb(200, 200, 17);
}

.footer  {
	border: 1px dotted red;
}

/************************ footer ******************************/
.sign_area {
	background: rgb(200, 100, 10);
}

.sign  {
	border: 1px dotted red;
}