/* css reset */
* { 
	margin: 0; 
	padding: 0; 
	outline: 0; 
}

html, body {
	height: 100%
}

.main_posts {
  padding-bottom: 110px;
}

.page {
  position: relative;
  min-height: 100%;
}

/* common styles */

body {
    font-size: 12px;
    line-height: 1,5;
    font-family: arial, sans-serif;
    color: #808080;
    min-width: 800px;
}

a { 
	color: #65cbf8; 
	text-decoration: none; 
	cursor: pointer; 
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia;
}

p  { 
	font-family: Arial;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
  	line-height: 18px;
}

.main_container{
	margin: 0 auto;
	width: 950px;
}	

.butt {
	display: block;
	vertical-align: top;
	color: #77777b;
	font-size: 11px;
	text-transform: capitalize; 
	font-weight: bold; 
}

.butt:hover {
	color: rgb(255, 0, 0); 
	text-decoration: none;
}

/* header */
.header { 
	background: rgb(238, 238, 238);
	padding: 30px 0px
}

/* centered menu_block made by main_container */
/* right logo_brick */

.menu_block:after {
	content: "";
	display: block;
	clear: both;
}

.logo_brick {    
    width: 171px; 
    height: 28px;
	display: block;
	background: url(../images/logo.png) no-repeat 0 0;
	float: left; 
}

/* left nav_brick */
/* button styled by butt selector in common styles */

.nav_brick {
	float: right;
	padding-top: 8px;
}

.nav_butt {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 44px;
}

/* main content */

.post_row {
	margin-top: 20px;
}

.post_row:after {
	content: "";
	display: block;
	clear: both;
}

.post_illustr {
	display: block;
	width: 300px;
	float: left;
	overflow: hidden;
}
	
.post_illustr_pic {
	margin: 0 0;
}

.post_illustr_pic_tag {
	font-size: 13px;
}
	
.post_article {
	display: block;
	width: 600px;
	float: right;
}

.post_article_headline  {
	font-size: 26px;
	color: #000;
}

.post_article_text  {
	color: #000;
}	
	
/* footer */

.footer {
	background: rgb(238, 238, 238);
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
}

.signature {
	margin-top: 10px;
	margin-bottom: 0px;
}
