.header {
height: 58px;
background-color: rgb(192, 192, 192);
}
#logo_link {
display: block;
height: 28px;
background: url(https://github.com/LookNya/courses/blob/master/examples/images/logo.png?raw=true) no-repeat 0 0;
}



.nav { 
	float: right; 
	padding-top: 8px;  
}
.nav  ul{ 
	list-style: none; 
	font-size: 11px; 
	text-transform: capitalize; 
	font-weight: bold; 
}
.nav  ul li{ 
	display: inline-block; 
	padding: 0 0 0 44px; 
}
.nav  ul li a{
	color: #77777b; 
 }
.nav  ul li a:hover ,#navigation ul li.active a { 
	color: #2497e0; 
	text-decoration: none; 
}






